.frame1 {
    height: 100vh;
    width: 100vh;
    background-color: red;
}

.frame2 {
    height: 80vh;
    width: 100vh;
    background-color: green;
}

.frame3 {
    height: 30vh;
    width: 100vh;
    background-color: yellow;
    
}

.pic_item { grid-area: pic; }
.desc_item { grid-area: desc; }
.rate_item { grid-area: rate; }

.grid-container-company-info {
    display: grid;
    grid-template-areas:
      'pic desc rate'
      'pic desc rate';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }