.frame1 {
    height: 100vh;
    width: 100vh;
    background-color: red;
}

.frame2 {
    height: 80vh;
    width: 100vh;
}


.frame3 {
    height: 30vh;
    width: 100vh;
    background-color: yellow;

}

#mymap {
    width: 100%;
    height: 80vh;

}

.map {
    margin: 0;
    padding: 0;
    background-color: #D5E8EB;
}