.frame1 {
    height: 100vh;
    width: 100vh;
    background-color: red;
}

.frame2 {
    height: 80vh;
    width: 100vh;
}


.frame3 {
    height: 30vh;
    width: 100vh;
    background-color: #2196F3;
    padding: 0px;
    margin: 0px;
    background-color: yellow;


}

#mymap {
    width: 100%;
    height: 80vh;

}

.map {
    margin: 0;
    padding: 0;
    background-color: #D5E8EB;
}


.pic_item { grid-area: pic; }
.desc_item { grid-area: desc; }
.rate_item { grid-area: rate; }

.grid-container-company-info {
    display: grid;
    grid-template-areas:
      'pic desc rate'
      'pic desc rate';
    grid-gap: 10px;
    padding: 0px;
    margin: 0px;
    width:100vw;
    background-color: #2196F3;
  }


